/********************************* image *********************************/
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/********************************* image *********************************/

/********************************* display *********************************/
.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

/********************************* display *********************************/

/********************************* gutter *********************************/
@gutter-v: 8px;
@gutter-h: 8px;

.gaps-1x {
  height: @gutter-v;
}

.gaps-1-5x {
  height: @gutter-v * 1.5;
}

.gaps-2x {
  height: @gutter-v * 2;
}

.gaps-3x {
  height: @gutter-v * 3;
}

.gaps-4x {
  height: @gutter-v * 4;
}

.gaps-5x {
  height: @gutter-v * 5;
}

.gaps-6x {
  height: @gutter-v * 6;
}

.gaps-7x {
  height: @gutter-v * 7;
}

.gaps-8x {
  height: @gutter-v * 8;
}

.gaps-9x {
  height: @gutter-v * 9;
}

.gaps-10x {
  height: @gutter-v * 10;
}

.gaps-11x {
  height: @gutter-v * 11;
}

.gaps-12x {
  height: @gutter-v * 12;
}

.gaps-13x {
  height: @gutter-v * 13;
}

.gaps-14x {
  height: @gutter-v * 14;
}

.gaps-18x {
  height: @gutter-v * 18;
}

.gaps-22x {
  height: @gutter-v * 22;
}

.gaps-24x {
  height: @gutter-v * 24;
}

.gaps-27x {
  height: @gutter-v * 27;
}

.gaps-32x {
  height: @gutter-v * 32;
}

@media (min-width: 672px) {
  .gaps-md-0 {
    height: 0;
  }

  .gaps-md-1x {
    height: @gutter-v;
  }

  .gaps-md-2x {
    height: @gutter-v * 2;
  }

  .gaps-md-3x {
    height: @gutter-v * 3;
  }

  .gaps-md-4x {
    height: @gutter-v * 4;
  }

  .gaps-md-5x {
    height: @gutter-v * 5;
  }

  .gaps-md-6x {
    height: @gutter-v * 6;
  }

  .gaps-md-7x {
    height: @gutter-v * 7;
  }

  .gaps-md-8x {
    height: @gutter-v * 8;
  }

  .gaps-md-9x {
    height: @gutter-v * 9;
  }

  .gaps-md-10x {
    height: @gutter-v * 10;
  }

  .gaps-md-11x {
    height: @gutter-v * 11;
  }

  .gaps-md-12x {
    height: @gutter-v * 12;
  }

  .gaps-md-13x {
    height: @gutter-v * 13;
  }

  .gaps-md-14x {
    height: @gutter-v * 14;
  }

  .gaps-md-24x {
    height: @gutter-v * 24;
  }

  .gaps-md-48x {
    height: @gutter-v * 48;
  }
}

@media (min-width: 1024px) {
  .gaps-lg-0 {
    height: 0;
  }

  .gaps-lg-1x {
    height: @gutter-v;
  }

  .gaps-lg-2x {
    height: @gutter-v * 2;
  }

  .gaps-lg-3x {
    height: @gutter-v * 3;
  }

  .gaps-lg-4x {
    height: @gutter-v * 4;
  }

  .gaps-lg-5x {
    height: @gutter-v * 5;
  }

  .gaps-lg-6x {
    height: @gutter-v * 6;
  }

  .gaps-lg-7x {
    height: @gutter-v * 7;
  }

  .gaps-lg-8x {
    height: @gutter-v * 8;
  }

  .gaps-lg-9x {
    height: @gutter-v * 9;
  }

  .gaps-lg-10x {
    height: @gutter-v * 10;
  }

  .gaps-lg-11x {
    height: @gutter-v * 11;
  }

  .gaps-lg-12x {
    height: @gutter-v * 12;
  }

  .gaps-lg-13x {
    height: @gutter-v * 13;
  }

  .gaps-lg-14x {
    height: @gutter-v * 14;
  }

  .gaps-lg-18x {
    height: @gutter-v * 18;
  }

  .gaps-lg-20x {
    height: @gutter-v * 20;
  }

  .gaps-lg-24x {
    height: @gutter-v * 24;
  }

  .gaps-lg-26x {
    height: @gutter-v * 26;
  }

  .gaps-lg-35x {
    height: @gutter-v * 35;
  }

  .gaps-lg-48x {
    height: @gutter-v * 48;
  }

  .gaps-lg-82x {
    height: @gutter-v * 82;
  }

  .gaps-lg-92x {
    height: @gutter-v * 92;
  }
}

/********************************* gutter *********************************/

/********************************* alignment *********************************/
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.justify-center {
  display: flex;
  justify-content: center;
}

/********************************* alignment *********************************/

/********************************* text *********************************/
.uppercase {
  text-transform: uppercase;
}

/********************************* text *********************************/

/********************************* margin *********************************/
.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

// vertical margin
.mv-1x {
  margin-top: @gutter-v;
  margin-bottom: @gutter-v;
}

.mv-2x {
  margin-top: (@gutter-v * 2);
  margin-bottom: (@gutter-v * 2);
}

.mv-3x {
  margin-top: (@gutter-v * 3);
  margin-bottom: (@gutter-v * 3);
}

// horizontal margin
.mh-1x {
  margin-left: @gutter-h;
  margin-right: @gutter-h;
}

.mh-2x {
  margin-left: @gutter-h * 2;
  margin-right: @gutter-h * 2;
}

.mh-8x {
  margin-left: @gutter-h * 8;
  margin-right: @gutter-h * 8;
}

// left margin
.ml-1x {
  margin-left: @gutter-h;
}

.ml-2x {
  margin-left: @gutter-h * 2;
}

.ml-3x {
  margin-left: @gutter-h * 3;
}

// right margin
.mr-1x {
  margin-right: @gutter-h;
}

.mr-2x {
  margin-right: @gutter-h * 2;
}

.mr-2x {
  margin-right: @gutter-h * 3;
}

.mr-3x {
  margin-right: @gutter-h * 3;
}

.mr-4x {
  margin-right: @gutter-h * 4;
}

.mr-5x {
  margin-right: @gutter-h * 5;
}

.mr-14x {
  margin-right: @gutter-h * 14;
}

// top margin
.mt-8x {
  margin-top: @gutter-v * 8;
}

// bottom margin
.mb-2x {
  margin-bottom: @gutter-v * 2;
}

/********************************* margin *********************************/

/********************************* padding *********************************/
.p-0 {
  padding: 0;
}

.p-2 {
  padding: @gutter-v * 2;
}

// vertical padding
.pv-1x {
  padding-top: @gutter-v;
  padding-bottom: @gutter-v;
}

.pv-2x {
  padding-top: (@gutter-v * 2);
  padding-bottom: (@gutter-v * 2);
}

.pv-3x {
  padding-top: (@gutter-v * 3);
  padding-bottom: (@gutter-v * 3);
}

.pv-3-5x {
  padding-top: (@gutter-v * 3.5);
  padding-bottom: (@gutter-v * 3.5);
}

.pv-5x {
  padding-top: (@gutter-v * 5);
  padding-bottom: (@gutter-v * 5);
}

.pv-8x {
  padding-top: (@gutter-v * 8);
  padding-bottom: (@gutter-v * 8);
}

// horizontal padding
.ph-1x {
  padding-left: @gutter-h;
  padding-right: @gutter-h;
}

.ph-2x {
  padding-left: @gutter-h * 2;
  padding-right: @gutter-h * 2;
}

.ph-3x {
  padding-left: @gutter-h * 3;
  padding-right: @gutter-h * 3;
}

.ph-8x {
  padding-left: @gutter-h * 8;
  padding-right: @gutter-h * 8;
}

// top padding
.pt-8x {
  padding-top: @gutter-v * 8;
}

// left padding
.pl-3x {
  padding-left: @gutter-h * 3;
}

/********************************* padding *********************************/

.active {
  background-color: #1890ff;
}

.active > div > span,
.active > div > i {
  color: white;
}

.logo {
  height: 50px;
  // background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  align-content: center;
  text-align: center;
}

.footer_text {
  font-size: x-small;
  text-align: center;
  padding: 4px;
}

.header_nav_button {
  float: left;
  margin-right: 16px;
}

.header_icons {
  float: right;
  margin-right: 16px;
}

div.card {
  //   width: 40%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  //   height: 80%;
}

div.header {
  background-color: white;
  color: f0f0f0;
  padding: 20px;
  //   font-size: 40px;
  height: 100%;
}

.ant-btn {
  margin-right: 8px;
  margin-top: 8px;
}

.ant-form-item {
  padding-bottom: 12;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.hidden {
  display: none;
}
