.ant-pro-table-search .ant-form-item-label {
  min-width: 160px;
  text-align: right;
}

@media (max-width: 575px) {
  .ant-pro-table-toolbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .ant-pro-table-toolbar-option {
    width: auto
  }
}
