#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

#data-icon .menu-unfold {
  width: 24px;
  height: 24px;
}
.site-layout .site-layout-background {
  background: #f0f0f0; //whitesmoke
}

//for top navbar
.nav-bar .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 40px 16px 0;
  float: right;
}

.header-btn {
  margin-right: 8px;
  background-color: transparent;
  border-color: transparent;
}

.menu-style {
  height: 100vh;
}

.site-layout-background {
  margin: "24px 16px";
  padding: 24px;
  min-height: 280;
}

@media (max-width: 749px) {
  .site-layout-background {
    padding: 16px;
  }
}

#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

header {
  // background-color: #f5ba13;
  // margin: auto -16px;
  padding: 16px 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
