// @primary-color: #006972;

// @layout-header-height: 40px;
// @layout-header-background: #f1f1f1;
// @border-radius-base: 2px;
@background-color-base: hsv(0, 0, 96%); // Default grey background color
@background-color-light: hsv(
  0,
  0,
  98%
); // background of header and selected item
// @input-height-lg: 56px;

/* Ant Design */
// @primary-color: #006972;
// @heading-color: #ffffff; // heading text color white
@heading-color: #000; // heading text color white
@layout-header-height: 51px;
@layout-header-padding: 0px 0px;
@layout-header-background: #fff;
@layout-sider-background: #001529;
@layout-body-background: #f0f0f0;
@layout-footer-padding: 2px;
// @layout-trigger-background: #002140;
@border-radius-base: 2px;

// @layout-header-font-size: "x-small";
// @layout-body-font-size: "x-small";
// @layout-body-line-height:20px;

@screen-xs: 320px;
@screen-md: 672px;
@screen-lg: 1024px;

@skeleton-color: #cbcbcb;

@animation-duration-slow: 0.15s;

//Table
// @table-header-bg: #1e3f66;
@table-header-color: @heading-color;

// @table-header-bg: #fff;
@table-header-bg: @layout-body-background;
@table-header-color: #000;

//back button
// @page-header-back-color: #fff;

//description
// Descriptions
@descriptions-bg: @table-header-bg;

//menu
// dark theme
// @menu-dark-color: @text-color-secondary-dark;
@menu-dark-bg: @layout-sider-background;
// @menu-dark-arrow-color: #fff;
// @menu-dark-submenu-bg: #000c17;
// @menu-dark-highlight-color: #fff;
// @menu-dark-item-active-bg: @primary-color;
// @menu-dark-selected-item-icon-color: @white;
// @menu-dark-selected-item-text-color: @white;
// @menu-dark-item-hover-bg: transparent;
